

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.site-rule h2 {
    color: #c38f20;
    font-size: 26px;
    margin-top: 52px;
}
@media(max-width:576px){
    .site-rule span {
        font-size: 19px;
        padding: 3px;
        text-align: center;
    }
}
.site-rule span {
    font-size: 19px;
    text-align: justify;
    padding: 0px 70px 15px 70px;
}
.site-rule p {
    font-size: 19px;
    padding: 10px 20px 10px 0px;
    text-align: justify;
}

.site-rule .padding-card{
    padding: 20px;
}
.Rectangle-15 {
    width: 132px;
    height: 1px;
    margin: 31px 420px 35px 418px;
    background-color: #a8a8a8;
  }
  
  .title-role{
      background-color: #898989;
      border-radius: 24px;
      height: 49px;
      width: 424px;
      color: #ffffff;
      font-size: 27px;
      position: absolute;
  }
 
.card-role {
    background-color: #ffffff;
    width: 90%;
    box-shadow: 0 0 20.2px 7.8px rgba(0, 0, 0, 0.07);
    padding-top: 50px;
}
.card-role .pic {
    width: 97px;
    height: 97px;
    border-radius: 2px;
  background-color: #898989;
  margin:auto;
}
.role-title-color{
    color: #ff1b1b;
    font-size: 26.5px;
    padding-right: 20px;
}



.MuiAccordionSummary-root {
    border-radius: 7px;
    box-shadow: 0 0 20.2px 7.8px rgba(0, 0, 0, 0.07);
}

.MuiAccordionSummary-expandIcon .MuiSvgIcon-root {
    color: #ff0707 !important;
}